<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gn.com.android.mmitest"
    android:sharedUserId="android.uid.phone"
    android:versionCode="40000059"
    android:versionName="4.0.0.ch" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.NFC" />

    <!--Gionee GN_AutoMMI lifeilong 20161209 modify for ID 45780 begin -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--Gionee GN_AutoMMI lifeilong 20161209 modify for ID 45780 end -->

    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.front" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.hardware.sensor.gyroscope" />

    <uses-permission android:name="android.hardware.sensor.compass" />

    <uses-permission android:name="android.hardware.sensor.light" />

    <uses-permission android:name="android.hardware.sensor.proximity" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" >
    </uses-permission>

    <uses-permission android:name="android.permission.MASTER_CLEAR" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.SET_ORIENTATION" />

    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />

    <uses-permission android:name="com.fingerprints.service.ACCESS_EXTENSION_SERVICE" />

    <uses-permission android:name="com.fingerprints.service.MANAGE_DEVICE_DATA" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <!--Gionee <GN_BSP_MMI><zhangke><20161106> modify for ID19681 begin-->
    <uses-permission android:name="android.permission.REBOOT"/>  
    <!--Gionee <GN_BSP_MMI><zhangke><20161106> modify for ID19681 end-->
    <uses-permission android:name="android.permission.MANAGE_NOTIFICATIONS"/>
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >

        <uses-library android:name="com.qualcomm.qcrilhook" 
                android:required="false"/>

        <uses-library android:name="com.qualcomm.qcnvitems" 
                android:required="false"/>
        <uses-library
            android:name="org.simalliance.openmobileapi"
                android:required="false" />

        <activity
            android:name=".GnMMITest"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".SingleTestGridView"
            android:excludeFromRecents="true"
            android:label="@string/single_test"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".item.KeysTest"
            android:excludeFromRecents="true"
            android:label="@string/keys"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".item.TouchPadTest"
            android:excludeFromRecents="true"
            android:label="@string/touch_pad"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".item.TouchPadPrivTest"
            android:excludeFromRecents="true"
            android:label="@string/touch_priv_pad"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".item.TouchPadPrivTest2"
            android:excludeFromRecents="true"
            android:label="@string/touch_priv_pad2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".item.ColorTest"
            android:excludeFromRecents="true"
            android:label="@string/color"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".item.ScreenBrightnessTest"
            android:excludeFromRecents="true"
            android:label="@string/screen_brightness"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.VibrateTest"
            android:excludeFromRecents="true"
            android:label="@string/vibrate"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.LightTest"
            android:excludeFromRecents="true"
            android:label="@string/light"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.PhoneLoopbackTest1"
            android:excludeFromRecents="true"
            android:label="@string/phone_loopback1"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.PhoneLoopbackTest3"
            android:excludeFromRecents="true"
            android:label="@string/phone_loopback3"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.PhoneLoopbackTest4"
            android:excludeFromRecents="true"
            android:label="@string/phone_loopback4"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.EarphoneLoopbackTest"
            android:excludeFromRecents="true"
            android:label="@string/earphone_loopback"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.PhoneLoopbackTest2"
            android:excludeFromRecents="true"
            android:label="@string/phone_loopback2"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.ToneTest"
            android:excludeFromRecents="true"
            android:label="@string/tone"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.ToneTest2"
            android:excludeFromRecents="true"
            android:label="@string/tone2"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.ReceiverTest"
            android:excludeFromRecents="true"
            android:label="@string/receiver"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.ReceiverTest2"
            android:excludeFromRecents="true"
            android:label="@string/receiver2"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.GyroscopeTest"
            android:excludeFromRecents="true"
            android:label="@string/gyroscope"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.AlsAndPsTest"
            android:excludeFromRecents="true"
            android:label="@string/light_proximity"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.PressureTest"
            android:excludeFromRecents="true"
            android:label="@string/pressure"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.BackCameraTest"
            android:excludeFromRecents="true"
            android:label="@string/back_camera"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.FrontCameraTest"
            android:excludeFromRecents="true"
            android:label="@string/front_camera"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>
        <!-- android:process="com.android.phone" -->

        <activity
            android:name=".item.GPSTest"
            android:excludeFromRecents="true"
            android:label="@string/gps"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >

            <intent-filter>

                <action android:name="gn.com.android.mmitest.GPS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".item.FMTest"
            android:excludeFromRecents="true"
            android:label="@string/fm"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >

            <intent-filter>

                <action android:name="gn.com.android.mmitest.FMTest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".item.BluetoothTest"
            android:excludeFromRecents="true"
            android:label="@string/bluetooth"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.WIFITest"
            android:excludeFromRecents="true"
            android:label="@string/wifi"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.NFCTest"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
            android:excludeFromRecents="true"
            android:label="@string/nfc"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >

            <intent-filter>

                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity
            android:name=".item.NFCTest2"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
            android:excludeFromRecents="true"
            android:label="@string/nfc2"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.OTGTest"
            android:excludeFromRecents="true"
            android:label="@string/otg"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.BatteryTest"
            android:excludeFromRecents="true"
            android:label="@string/battery"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>
	<!--Gionee <Gn_MMI><lifeilong><20161104> add for 75  begin-->
        <activity
            android:name=".item.BigBatteryTest"
            android:excludeFromRecents="true"
            android:label="@string/bigbattery"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>
	<!--Gionee <Gn_MMI><lifeilong><20161104> add for 75  end-->

        <activity
            android:name=".item.ClockTest"
            android:excludeFromRecents="true"
            android:label="@string/clock"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.SoftWareVersion"
            android:label="@string/sw_version"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >

            <intent-filter>

                <action android:name="gn.com.android.mmitest.SoftWareVersion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".item.AccelerationTest"
            android:excludeFromRecents="true"
            android:label="@string/acceleration"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.MagneticFieldTest"
            android:excludeFromRecents="true"
            android:label="@string/magnetic_field"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.FlashLight"
            android:excludeFromRecents="true"
            android:label="@string/FlashLight"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.FlashLight2"
            android:excludeFromRecents="true"
            android:label="@string/FlashLight2"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.Cpufreq"
            android:excludeFromRecents="true"
            android:label="@string/Cpufreq"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".TestResult"
            android:excludeFromRecents="true"
            android:label="@string/test_result"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.SetColor"
            android:excludeFromRecents="true"
            android:label="@string/SetColor"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>
        <!-- Gionee zhangke 20160624 add for CR01722713 start -->

        <activity
            android:name=".item.A3Activity"
            android:excludeFromRecents="true"
            android:label="@string/a3_test"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>
        <!-- Gionee zhangke 20160624 add for CR01722713 end -->

        <service
            android:name="gn.com.android.mmitest.AdjvService"
            android:enabled="true" >
        </service>

        <service
            android:name="gn.com.android.mmitest.item.NvService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".item.FingerPrintsTest"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
            android:excludeFromRecents="true"
            android:label="@string/fingerprints"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <activity
            android:name=".item.FingerPrintsTest2"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
            android:excludeFromRecents="true"
            android:label="@string/fingerprints2"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>

        <!--Gionee zhangke 20160826 add for CR01753455 start-->
        <activity
            android:name=".item.BackCameraTest2"
            android:excludeFromRecents="true"
            android:label="@string/back_camera2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
            android:theme="@style/Fullscreen" >
        </activity>
        <!--Gionee zhangke 20160826 add for CR01753455 end-->
        <activity android:name=".item.WIFITest5G"
            android:theme="@style/Fullscreen"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
            android:label="@string/wifi5g">
        </activity>
        <activity android:name=".item.BootupInfo"
            android:theme="@style/Fullscreen"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
            android:label="@string/bootup_info">
        </activity>
        <activity android:name=".item.RpmbKeyTest"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
	    android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".ChooseLanguages"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
	    android:theme="@android:style/Theme.Dialog"
            android:label="@string/chooseLanguages">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
