<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gn.com.android.mmitest.test"
      android:versionCode="40102068"
      android:versionName="4.1.2.dw">

    <uses-sdk android:minSdkVersion="24" />

    <instrumentation android:targetPackage="gn.com.android.mmitest" android:name="android.test.InstrumentationTestRunner" />
    <instrumentation android:targetPackage="gn.com.android.mmitest" android:name="com.android.test.XMLInstrumentationTestRunner" />
    <instrumentation
        android:targetPackage="gn.com.android.mmitest."
        android:label="Mmi Launch Performance"
        android:name=".launch.MmiLaunchPerformance" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>
</manifest>
