<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gn.com.android.mmitest"
    android:versionCode="10000129"
    android:versionName="1.0.0.fj"
    android:sharedUserId="android.uid.phone"
>
    
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.ACCESS_FM_RADIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" /> 
    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission> 
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.hardware.sensor.gyroscope"/>
    <uses-permission android:name="android.hardware.sensor.compass"/>
    <uses-permission android:name="android.hardware.sensor.light"/>
    <uses-permission android:name="android.hardware.sensor.proximity"/>
    <uses-permission android:name="android.hardware.sensor.ambient_temperature"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"></uses-permission>
    <uses-permission android:name="android.permission.MASTER_CLEAR"/>
    <uses-permission android:name="android.permission.SET_ORIENTATION"/>
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_EXTENSION_SERVICE" />
    <uses-permission android:name="com.fingerprints.service.MANAGE_DEVICE_DATA" />
    <!--Gionee zhangke 20160311 add for CR01650400 start-->
    <uses-permission android:name="android.permission.REBOOT"/>  
    <!--Gionee zhangke 20160311 add for CR01650400 end-->
    <!--Gionee <GN_BSP_AUTOMMI><lifeilong><20161230> modify for ID 57608 begin -->
    <uses-permission android:name="android.permission.MANAGE_NOTIFICATIONS"/>
    <!--Gionee <GN_BSP_AUTOMMI><lifeilong><20161230> modify for ID 57608 end -->
    <uses-permission android:name="android.permission.STATUS_BAR" /> 

    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application android:icon="@drawable/icon"
        android:name=".GnMMITestApplication"
        android:label="@string/app_name"
        android:persistent="false"
        android:theme="@android:style/Theme.Black">


        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />
        <uses-library
            android:name="com.android.nfc_extras"
            android:required="false" />


        <activity android:name=".GnMMITest"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|screenLayout|touchscreen|screenSize"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".SingleTestGridView"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/single_test">
        </activity>
        
        <activity android:name=".item.KeysTest"
                android:screenOrientation="portrait"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/keys">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.key"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.TouchPadTest"
                android:screenOrientation="portrait"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/touch_pad">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.tpt"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
         <activity android:name=".item.TouchPadPrivTest"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/touch_priv_pad">
        </activity>
        <activity android:name=".item.ColorTest"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/color">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.colortest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.ScreenBrightnessTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/screen_brightness">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.sb"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>                          
                  
        <activity android:name=".item.VibrateTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/vibrate">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.vib"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>                         
        <activity android:name=".item.LightTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/light">
        </activity>                             
        <activity android:name=".item.PhoneLoopbackTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/phone_loopback">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.phoneloopback"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>                             
        <activity android:name=".item.PhoneLoopbackTest2"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/phone_loopback2">
        </activity>                             
        <activity android:name=".item.EarphoneLoopbackTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/earphone_loopback">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.earphoneloopback"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>       
       <activity android:name=".item.HiFiTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/hifi">
        </activity>                     
        <activity android:name=".item.ToneTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/tone">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.tone"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity> 
         <activity android:name=".item.ToneTest2"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/tone2">
        </activity>                  
        <activity android:name=".item.ReceiverTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/receiver">
        </activity>
                <activity android:name=".item.ReceiverTest2"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/receiver2_psensor">
        </activity>
         <activity android:name=".item.FingerPrintsTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/fingerprints">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.fin"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
          <activity android:name=".item.FingerPrintsTest2"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/fingerprints2">
        </activity>
        <activity android:name=".item.GyroscopeTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/gyroscope">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.gyro"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.AlsAndPsTest"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/light_proximity">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.als"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.BackCameraTest"
                 android:theme="@style/Fullscreen"
                android:screenOrientation="portrait"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/back_camera">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.bcam"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
              <intent-filter>
                <action android:name="gn.com.android.mmitest.killcam"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.FrontCameraTest"
                android:theme="@style/Fullscreen"
                android:screenOrientation="portrait"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/front_camera">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.fcam"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
              <intent-filter>
                <action android:name="gn.com.android.mmitest.killcam"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.FrontCameraTest2"
                android:theme="@style/Fullscreen"
                android:screenOrientation="portrait"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/front_camera2">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.fcam2"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
              <intent-filter>
                <action android:name="gn.com.android.mmitest.killcam"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- android:process="com.android.phone" -->
        <activity android:name=".item.GPSTest"
                android:theme="@style/Fullscreen"
                android:screenOrientation="portrait"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/gps">
            <intent-filter>
                <action android:name="gn.com.android.mmitest.GPS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.FMTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/fm">
        </activity>
        <activity android:name=".item.BluetoothTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/bluetooth">
            <intent-filter>
                <action android:name="gn.com.android.mmitest.bt"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.WIFITest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/wifi">
            <intent-filter>
                <action android:name="gn.com.android.mmitest.wifi"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
              <activity android:name=".item.WIFITest5G"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/wifi5g">
            <intent-filter>
                <action android:name="gn.com.android.mmitest.wifi5g"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
         <activity android:name=".item.NFCTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/nfc">
             <intent-filter>  
                <action android:name="android.nfc.action.TECH_DISCOVERED" />  
            </intent-filter>  
                <meta-data  
                android:name="android.nfc.action.TECH_DISCOVERED"  
                android:resource="@xml/nfc_tech_filter"/> 
        </activity>
              <activity android:name=".item.NFCTest2"
                android:screenOrientation="portrait"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/nfc2">
                 </activity>
        <activity android:name=".item.OTGTest"
                android:theme="@style/Fullscreen"
                android:screenOrientation="portrait"
                android:excludeFromRecents="true"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/otg">
        </activity>
        <activity android:name=".item.FlashTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/flash">
        </activity>
        <activity android:name=".item.FlashTest2"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/flash2">
        </activity>
        <activity android:name=".item.BatteryTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/battery">
        </activity>
        <activity android:name=".item.ClockTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/clock">
        </activity>
        <activity android:name=".item.SoftWareVersion"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/sw_version">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.soft"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.AccelerationTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/acceleration">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.acc"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.MagneticFieldTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/magnetic_field">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.magn"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
       <!-- Gionee zhangxiaowei 20130726 add for CR00843342 start -->
        <activity android:name=".item.FlashLight"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/FlashLight">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.flashb"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.FrontFlash"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/frontflash">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.flashf"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".item.SetColor"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/SetColor">
        </activity>
        <!-- Gionee zhangxiaowei 20130726 add for CR00843342 end -->
            <activity android:name=".item.IrTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/irtest">
        </activity>
        <!-- GIONEE 2015-08-28 add for CR01543998 begin -->
        <activity
            android:name=".item.TemperatureTest"
            android:excludeFromRecents="true"
            android:label="@string/temperature"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
            android:theme="@style/Fullscreen" >
        </activity>
        <!-- GIONEE 2015-08-28 add for CR01543998 end -->
        <!-- Gionee zhangke 20151110 add for CR01588796 start -->
        <activity
            android:name=".item.LaserTest"
            android:excludeFromRecents="true"
            android:label="@string/laser_cal"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
            android:theme="@style/Fullscreen" >
        </activity>
        <!-- Gionee zhangke 20151110 add for CR01588796 end -->
        <!-- Gionee zhangke 20160105 modify for CR01617603 start
                    android:process="com.android.phone"
        -->
        <activity android:name=".TestResult"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/test_result">
        </activity>
        <!-- Gionee zhangke 20160105 modify for CR01617603 end-->
        <activity android:name=".TestT"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/test_result">
        </activity>
        <service  
            android:name="gn.com.android.mmitest.AdjvService"  
            android:enabled="true" >  
        </service>
        <!-- Gionee zhangke 20160105 modify for CR01617603 start
                    android:process="com.android.phone"
        -->
        <service  
            android:name="gn.com.android.mmitest.item.NvService"  
            android:enabled="true" >  
        </service>
        <!-- Gionee zhangke 20160105 modify for CR01617603 end-->
        
        <!--Gionee zhangke 20151114 add for CR01591381 start-->
        <activity
            android:name=".item.ForceTouchTest"
            android:excludeFromRecents="true"
            android:label="@string/force_touch"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
            android:theme="@style/Fullscreen" >
        </activity>
        <activity
            android:name="com.hideep.zcalib.standalone.activity.ViewActivity"
            android:configChanges="orientation|keyboardHidden|mcc|mnc|navigation|touchscreen|screenSize"
            android:label="@string/title_activity_view"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
            <meta-data android:name="hwc-navi" android:value="Navi"/>
        </activity>
        <!--Gionee zhangke 20151114 add for CR01591381 end-->
        <!--Gionee zhangke 20151208 add for CR01588796 start-->
        <activity android:name=".item.LaserPreTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/laser_cal">
         </activity>
        <activity android:name="com.gionee.laser.LaserTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/laser_cal">
        </activity>
        <!--Gionee zhangke 20151208 add for CR01588796 end-->
        <!--Gionee zhangke 20151210 add for CR01607303 start-->
        <activity android:name=".item.TouchPadFailInfoTest"
                android:theme="@style/Fullscreen"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
                android:label="@string/touch_fail_info">
        </activity>
        <!--Gionee zhangke 20151210 add for CR01607303 end-->
        <!--Gionee zhangke 20160826 add for CR01753455 start-->
        <activity
            android:name=".item.BackCameraTest2"
            android:excludeFromRecents="true"
            android:label="@string/back_camera2"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
              <intent-filter>
                <action android:name="gn.com.android.mmitest.bcam2"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
              <intent-filter>
                <action android:name="gn.com.android.mmitest.killcam"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--Gionee zhangke 20160826 add for CR01753455 end-->
        <!--Gionee zhangke 20160923 add for CR01763471 start-->
        <activity
            android:name=".item.BackFlashlightCalTest"
            android:excludeFromRecents="true"
            android:label="@string/back_flashlight_cal_test"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|mcc|mnc|navigation|touchscreen|screenSize"
            android:theme="@style/Fullscreen" >
        </activity>
        <!--Gionee zhangke 20160923 add for CR01763471 end-->
        <activity
            android:name=".item.CheckEfuse"
            android:excludeFromRecents="true"
            android:label="@string/master_clear"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>
        <activity
            android:name=".item.A3Activity"
            android:excludeFromRecents="true"
            android:label="@string/a3_test"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>
        <activity android:name=".item.CplcActivity"
            android:excludeFromRecents="true"
            android:label="@string/cplc"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" >
        </activity>
        <activity android:name=".ChooseLanguages"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
	    android:theme="@android:style/Theme.Dialog"
            android:label="@string/chooseLanguages">
              <intent-filter>
                <action android:name="gn.com.android.mmitest.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name=".item.FmService"
            android:exported="false" >
        </service>
    </application>
</manifest>
