<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cydroid.autommi.test"
      android:versionCode="80000011"
      android:versionName="8.0.0.cp">

    <uses-sdk android:minSdkVersion="24" />

    <instrumentation android:targetPackage="com.cydroid.autommi" android:name="android.test.InstrumentationTestRunner" />
    <instrumentation android:targetPackage="com.cydroid.autommi" android:name="com.android.test.XMLInstrumentationTestRunner" />
    <instrumentation
        android:targetPackage="com.cydroid.autommi."
        android:label="Mmi Launch Performance"
        android:name=".launch.MmiLaunchPerformance" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>
</manifest>
